@media (max-width: 1280px){
/* Hero Section */
.main-container{
    padding: 4rem;
}

/* Feature Section */
.features-section{
    padding: 0 4rem;
}

.features-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 8rem;
    margin-bottom: 10rem;
}
.features-heading{
    line-height: 7rem;
}
.feature-img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
}

/* Reading Section */

.reading-section{
    padding: 0 4rem;
}

.journey-heading{
    padding: 0 25rem;
}

}


@media (max-width: 1024px) {

.hero-section {
    background-image: 
        linear-gradient(to top left, #d1eaff 0%, #fff9eb 50%),
        url(../images/pattern-light-bg.svg);
    background-blend-mode: multiply;
    background-size: inherit;
    background-position: center;
    margin-bottom: 10rem;
    height: 100%;
}    

.main-container{
    max-width: 144rem;
    height: 100%;
    padding: 4rem 2.4rem;
    margin: 0 auto;
}

.nav-container{
    margin-bottom: 4.8rem; 
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    row-gap: 4rem;
}

.hero-image{
    display: grid;
    justify-content: center;
    padding-bottom: 4rem;
}

.hero-img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* Feature Section */

.features-grid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 5rem;
    margin-bottom: 10rem;
} 

.features-images{
    display: grid;
    grid-row: 1;
}

/* Reading Section */

.journey-heading{
    padding: 0;
    text-align: left;
}

.journey-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
}

.box-arrow{
    display: none;
}

/* Pricing Section */

.pricing-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    min-width: 100%;
}

/* Testimonial Section */

.testimonial-container{
    display: flex;
    align-items: flex-start;
    
}
.testimonial-review{
    text-align: left;
}

/* Footer Section */

.footer-heading{
width: 100%;
}
.footer-last{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
/* .logo-flex{} */


}

@media (max-width: 786px) {
.features-section{
    padding: 0 2rem;
}
.features-grid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    column-gap: 8rem;
    margin-bottom: 10rem;
}    
.feature-img{
    max-width: 100%;
    height: auto;
    display: block;
}

.features-heading{
    line-height: 5rem;
}

/* Reading Section */

.reading-section{
    padding: 0 2rem;
}

.reading-container{
    padding: 6rem 3rem;
}

/* Pricing Section */


.pricing-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

}

@media (max-width: 430px) {

.main-heading{
     line-height: 6rem;
}
.primary-button{
     font-size: 1.2rem;
     display: flex;
     justify-content: center;
     width: 100%;
}

/* Pricing Section */

.pricing-flex{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    min-width: 32rem;
    gap: 2rem;
}

}

@media (max-width: 360px) {

/* Reading Section */

.journey-heading{
    font-size: 2.8rem;
    line-height: 5rem;
}

/* Pricin Section */

.pricing-container{
    padding:  0 2rem;
}
    
}