*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
display: block;
max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* :root {} */

html {
  font-size: 62.5%;
}

body {
  font-family: "inter", "martian mono", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Animations */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hero Section */

.hero-section {
    background-image: 
        linear-gradient(to top left, #d1eaff 0%, #fff9eb 50%),
        url(../images/pattern-light-bg.svg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    margin-bottom: 8rem;
}
.main-container{
    max-width: 144rem;
    padding: 4rem 0;
    margin: 0 auto;
}
.nav-container{
    margin-bottom: 2rem; 
}
/* .navbar{} */
/* .nav-logo{} */
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 6rem 0;
    animation: fadeInUp 1s ease-in forwards;
}

/* .content-container{} */
/* .text-container{} */
.main-heading{
    font-size: clamp(4.2rem, calc(4.2rem + ((1vw - 0.36rem) * 1.6667)), 8rem);
    font-family: "martian mono";
    line-height: 7.8rem;
    background: #25CC0F;
    background: linear-gradient(to bottom right, #de9a41 0%, #031b3a 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
}
.description{
    font-size: 2rem;
    font-family: "inter";
    color: #364961;
    margin-bottom: 3rem;
}
/* .call-to-action-container{} */
.primary-button{
    margin-bottom: 2.8rem;
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
    border: 2.6px solid #031b3a;
    background-color: #fff9eb;
    cursor: pointer;
    color: #031b3a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 600;
    font-family: "martian mono";
    transition: all .5s;
}

.primary-button ion-icon {
    font-size: 2rem;
}

.primary-button:hover{
    background-color: #031b3a;
    color: #fff9eb;
    font-weight: 700;
}
.component-testimonial{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
/* .testimonial-images{} */
.testimonial-img{
    max-height: 4rem;
}
/* .raiting-container{} */
.star-container{
    display: flex;
    align-items: center;
}
/* .star{} */
.rating-text{
    font-size: 1.4rem;
    color: #364961;
    font-family: "martian mono";
}
.hero-image{
    display: grid;
    justify-content: end;
}
.hero-img{
    /* max-width: 100%; */
    max-width: 54rem;
    height: auto;
    display: block;
    border-radius: 1rem;
}

/* Features Section */

.features-section{
    max-width: 144rem;
    margin: 0 auto;
}
.features-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 8rem;
    margin-bottom: 10rem;
    animation: fadeInUp 1s ease-in forwards;
}

.grid-2{
    grid-template-columns: 2fr 1fr;   
    margin-bottom: 10rem;
}

.feature-description{
    font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.36rem) * 0.5556)), 2.4rem);
    color: #031b3a;
}



/* .features-images{} */
.feature-img{
    max-width: 54rem;
    height: auto;
    display: block;
    border-radius: 1rem;
}
/* .features-content{
    position: relative;
} */
.features-heading{
    font-size: clamp(3.2rem, calc(3.2rem + ((1vw - 0.36rem) * 2.3148)), 5.7rem);
    font-family: "martian mono";
    color: #031b3a;
    margin-bottom: 3rem;
    line-height: 7.4rem;
    /* position: relative; */
}

/* .heading-circle::after{
    content: url(../images/pattern-circle.png);
    position: absolute;
    transform: translateX(-50%);
    left: 32%;
} */
.features-list{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.list-items{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    list-style: none;
    font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.36rem) * 0.5556)), 2.4rem);
    color: #031b3a;
}
/* .feature-check{} */

/* Reading journey Section */

.reading-section{
    max-width: 144rem;
    margin: 0 auto;
    margin-bottom: 10rem;
}
.reading-container{
    padding: 10rem 6rem;
    border-radius: .8rem;
    background-image: 
        linear-gradient(to top left, #d1eaff 0%, #fff9eb 50%),
        url(../images/pattern-light-bg.svg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    animation: fadeInUp 1s ease-in forwards;
}
.journey-heading{
    text-align: center;
    margin-bottom: 6rem;
    font-family: "martian mono";
    padding: 0 38rem;
    line-height: 6rem;
    color: #031b3a;
    font-size: clamp(3.2rem, calc(3.2rem + ((1vw - 0.36rem) * 2.3148)), 5rem);
}
.journey-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6rem;
}
/* .box{} */
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}
.number{
    font-size: 2rem;
    font-weight: 500;
    color: #031b3a;
    font-family: "martian mono";
    border: 2px solid #031b3a;
    border-radius: 6px;
    padding: .5rem 1.5rem;
}
/* .box-arrow{} */
.box-text{
    font-size: 2rem;
    font-weight: 600;
    color: #031b3a;
    font-family: "martian mono";
}

/* Pricing Section */

.pricing-section{
    max-width: 144rem;
    margin: 0 auto;
    margin-bottom: 10rem;
}
.pricing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    animation: fadeInUp 1s ease-in forwards;
}
.pricing-heading{
    color: #031b3a;
    font-family: "martian mono";
    margin-bottom: 6rem;
    font-size: clamp(3.2rem, calc(3.2rem + ((1vw - 0.36rem) * 2.3148)), 5rem);
}
.pricing-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.pricing-box{
    padding: 3rem 2.6rem;
    border: .5px solid #dbdedf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    min-width: 30rem;
    border-radius: .8rem;
}

.bg-gradient{
    background: linear-gradient(to top left, #d1eaff 0%, #fff9eb 50%);
    background-size: cover;
    background-position: center;
    border: .5px solid #f5f6f7;
}
.tag{
    font-size: 2.2rem;
    font-weight: 700;
    font-family: "martian mono";
}
.price{
    font-size: 3rem;
    font-weight: 800;
    font-family: "martian mono";
}

.price span{
    font-size: 1.6rem;
    color: #364961;
    font-weight: 400;
    letter-spacing: -1px;
}

.pricing-checks{
    display: flex;
    gap: 1.6rem;
    width: 100%;
    border-top: .5px solid #dbdedf;
    padding: 2rem 0;
    flex-direction: column;
}
.pricing-list{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 2rem;
    list-style: none;
}
.checks{
    max-width: 2rem;
}
.btn-2{
    margin-bottom: 0;
    padding: 1rem 2rem;
    color: #031b3a;
}

/* Testimonial Section */

.testimonial-section{
    max-width: 144rem;
    margin: 0 auto;
    margin-bottom: 10rem;
}
.testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.stars{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 3rem;
}
.testimonial-review{
    font-size: clamp(2.4rem, calc(2.4rem + ((1vw - 0.36rem) * 0.9259)), 3rem);
    font-family: "martian mono";
    text-align: center;
    max-width: 96rem;
    margin-bottom: 2rem;
}
.author{
    font-size: 2rem;
    color: #364961;
}

/* Footer Section */

.footer-section{
    background-image: 
        linear-gradient(to top left, #031b3a 0%,#031b3a 50%),
        url(../images/pattern-light-bg.svg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    border-radius: 2rem 2rem 0 0;
}
.footer-container{
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInUp 1s ease-in forwards;
}
.footer-heading{
    font-size: clamp(3rem, calc(3rem + ((1vw - 0.36rem) * 1.6667)), 6rem);
    max-width: 70%;
    padding-top: 6rem;
    font-family: "martian mono";
    text-align: center;
    color: #d1eaff;
    margin-bottom: 3rem;
}
.footer-button{
    margin-bottom: 3rem;
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
    border: 2.6px solid #d1eaff;
    background-color: #031b3a;
    cursor: pointer;
    color: #d1eaff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 600;
    font-family: "martian mono";
    transition: all .5s;
}

.footer-button:hover{
    background-color: #d1eaff;
    color: #031b3a;
    border-color: #d1eaff;
}
.component-2{
    margin-bottom: 6rem;
}

.footer-last{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    border-top: 1px solid hsla(0, 0%, 78%, 0.204);
    
}
.copyright{
    font-size: 1.4rem;
    font-family: "martian mono";
    color: #d1eaff;
}
.logo-flex{
    display: flex;
    align-items: center;
    gap: 3rem;
}